*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{

}
.page{
    min-height: 100vh;
    .content-area{
        width: calc(100% - 200px);
        min-height: 100%;
        transition: 0.3s;
        will-change: width;
        padding: 20px;
        float: right;
    }
}
canvas{
    background-color: #ddd;
    p{color:#000}
}
