
- var pageTitle = Homepage
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include pug/layout/styles
  body
    
    canvas(id="canvasOne" width="300" height="300")
      p testing GDFG TRD
      ul
        li
          a(href="/html") HTML

    //- .page.home-page
      //- include pug/layout/sidebar
      //- .content-area content
        //-  header header test content test
            //- i.fas.fa-exchange-alt.fa-2x.toggle-class
        //-  div.test 
            //- h1 #{pageTitle}
    script(src="https://kit.fontawesome.com/ca94c52ba5.js"    crossorigin="anonymous") 
    script(src="js/mainjs.js")



              



    



 





